@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.lain-window {
	min-width: 300px;
	min-height: 300px;
	max-width: 300px;
	max-height: 300px;
}
